node_modules
bower_components
.node*
.tmp
.DS_Store
*.log

build
types
coverage
coverageEnv
coverage.json

.zos.session

conf/keys.1802198*.js
conf/addresses.private.1802198*.js

.openzeppelin/.session

allFiredEvents
scTopics
