node_modules/
bower_components/
.node*
.tmp
.DS_Store
*.log

build
types
allFiredEvents/
coverage/
coverageEnv/
scTopics
coverage.json

conf/keys.1802198*.js
conf/addresses.private.1802198*.js

.openzeppelin/.lock
.openzeppelin/.session
